{include file='property/library/page_header.htm'}

<style>
.subnum {
width:250px;
height:104px;
padding-top:26px;
border: 1px solid #74a478;
background-color: #86bd8a;
text-shadow: 0 1px 1px rgba(0,0,0,0.15);
border-radius: 3px;
color:#fff;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
text-align:center
}
.subnum .icon{
width: 54px;
height: 46px;
display:inline-block;
vertical-align:middle;
background: url("/templates/images/page_index_z.png") 0 -114px no-repeat;
}
.subnum .num{
font-weight: 400;
font-size: 35px;
display:inline-block;
vertical-align:middle;
}
.subnum .tit{
font-weight: 400;
font-size: 16px;
letter-spacing: 2px;
}
.infonum {
width:250px;
height:104px;
padding-top:26px;
border:1px solid #6c91a3;
background-color:#87b3d4;
text-shadow: 0 1px 1px rgba(0,0,0,0.15);
border-radius: 3px;
color:#fff;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
text-align:center
}

.infonum .icon{
width: 54px;
height: 46px;
display:inline-block;
vertical-align:middle;
background: url("/templates/images/page_index_z.png") 0 0 no-repeat;
}
.infonum .num{
font-weight: 400;
font-size: 35px;
display:inline-block;
vertical-align:middle;
}

.infonum .tit{
font-weight: 400;
font-size: 16px;
letter-spacing: 2px;
}  

.userinfo {
width:60px;
height:70px;
float:left;
margin:8px;
text-align:center;
overflow:hidden;
}
.userinfo img {
width: 58px;
height: 50px;
border:1px solid #e4e4e4;
}

</style>
<div class="col_main">
	<div class="main_hd">
		<div class="title_tab">

		</div>
	</div>

   <div class="main_content">	
   <div class="subnum" style="display:inline-block">
      <span class="icon"></span>
      <span class="num">{$userinfo.resNum}</span>
      <div class="clear"></div>
      <span class="tit">总关注数</span>
      <div class="clear"></div>
   </div>
   <a href="askrepair">
   <div class="infonum" style="display:inline-block">
      <span class="icon"></span>
      <span class="num">{$askrepairnum}</span>
      <div class="clear"></div>
      <span class="tit">保修申请</span>
      <div class="clear"></div>
   </div>
   </a>
   <a href="advice">
   <div class="infonum" style="display:inline-block">
      <span class="icon"></span>
      <span class="num">{$advicenum}</span>
      <div class="clear"></div>
      <span class="tit">投诉建议</span>
      <div class="clear"></div>
   </div>
   </a>
      <div class="clear height20"></div>
   	{foreach from=$userinfo.res item=u}
   	<div class="userinfo">
      {if $u.headimgurl!=''}
      <img src={$u.headimgurl} style="border:1px solid #ccc">
      {else}
      <img src="/templates/images/avatar.jpg" style="border:1px solid #ccc">
      {/if}
		<p style="color:#666">{$u.nickname}</p>
      </div>
      {/foreach}
       <div class="clear height10"></div>
   <form action="/property/" method="post" name="search" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="page" value="1">
   </form>
 <div class="float_r">
   {include file="property/library/page.htm"}
 </div>
 <div class="clear"></div>
   </div>


</div>