{include file='admin/library/page_header.htm'}

<div class="col_main">
    <div class="main_hd">
        <div class="title_tab">
            <ul class="tab_navs">
                <li {if $act==default||new_account}class="selected"{/if}><a href="/admin/activity.php">活动列表</a></li>
            </ul>
        </div>
    </div>

    <div class="main_content">

        {if $act==default}
        <script type="text/javascript">
            function deleteAccount(id) {
                if (confirm("确定要删除这个账号吗？")) {
                    $.post("/admin/account.php", {
                                act: 'delete_account', account_id: id
                            },
                            function (data) {

                                var data = json_decode(data);
                                if (data.error == 0) {
                                    alertMsg(data.data);
                                    setTimeout("window.location.reload();", 1000);
                                }
                                if (data.error == 1) {
                                    /* 弹出错误提示 */
                                    alertMsg(data.data);
                                }
                            });
                }
            }
        </script>
        <form action="/admin/activity.php" method="get" enctype="multipart/form-data" name="search">
            <input type="hidden" name="page" value="1">
        </form>
        <table class="info_list" cellspacing="1" width="100%">
            <tr>
                <th width="240px">活动名称</th>
                <th width="100px">送礼方式</th>
                <th width="240px">送出金额类型</th>
                <th width="240px">金额规则</th>
                <th width="240px">活动url</th>
                <th width="120px">操作</th>
            </tr>
            {foreach from=$list.res item=l}
            <td>{$l.name}</td>
            <td>{if $l.gift_type==0}话费{else}其他{/if}</td>
            <td>{if $l.money_type==0}固定金额{else}随机金额{/if}</td>
            <td>{$l.money_rule}</td>
            <td>{$l.activi_url}</td>
            <!--<td>-->
            <!--<a href="javascript:void(0)" onclick="javascript:deleteAccount({$l.account_id});">-->
            <!--<img src="/templates/images/icon/icon_trash.gif" title="删除">-->
            <!--</a>-->
            <!--</td>-->
            <td align="center">
                <div id="edit_view_{$r.info_id}">
                    <a href="/admin/activity.php?act=edit_activity&activity_id={$l.key_id}">
                        <img src="/templates/images/icon/icon_edit.gif" title="编辑">
                    </a>&ensp;
                    <a href="javascript:void(0)" onclick="javascript:deleteInfo({$r.info_id});">
                        <img src="/templates/images/icon/icon_trash.gif" title="删除">
                    </a>
                </div>
            </td>
            </tr>
            {/foreach}
        </table>
        <div class="clear height10"></div>
        <div class="float_r">
            {include file="admin/library/page.htm"}
        </div>
        <a href="/admin/activity.php?act=add_activity"><input type="button" class="btn_primary" value="新建活动"></a>
        {/if}
        {if $act==add_activity}
        <form action="/admin/activity.php" method="post" enctype="multipart/form-data" id="add_activity" class="form">
            <p class="f_title">活动名称：<span class="color999 fontSize12">（活动名不多于30个字符）</span>

            <p class="f_content"><input type="text" id="name" name="name" class="input">

            <p class="f_title">活动描述：

            <p class="f_content">
                <textarea type="text" id="descrpition" name="descrpition" class="input"></textarea>

            <p class="f_title">送礼方式：

            <p class="f_content">
                <select name="gift_type" id="gift_type" onchange="selectGiftType()">
                    <option value="0">话费</option>
                </select>
            <p class="f_title">送出金额类型：

            <p class="f_content">
                <select name="money_type" id="money_type" onchange="selectMoneyType()">
                    <option value="0">固定金额</option>
                    <option value="1">随机金额</option>
                </select>
            <div id="gudingdiv" style="display: block">
            <p class="f_title">送出金额数：
            <p class="f_content"><input type="text" name="money_num" id="money_num" class="input">
            </div>
            <div id="suijidiv0" style="display: none">
            <p class="f_title">随机规则：
            <p class="f_content">
                &nbsp;&nbsp;0：<input type="text" class="smallinput" id="huafei0" name="huafei0">%
                &nbsp;&nbsp;1：<input type="text" class="smallinput" id="huafei1" name="huafei1">%
                &nbsp;&nbsp;2：<input type="text" class="smallinput" id="huafei2" name="huafei2">%
                &nbsp;&nbsp;5：<input type="text" class="smallinput" id="huafei5" name="huafei5">%
                10：<input type="text" class="smallinput" id="huafei10" name="huafei10">%
                <br>
                20：<input type="text" class="smallinput" id="huafei20" name="huafei20">%
            </div>
            <p class="f_title">图片地址：
            <p class="f_content"><input type="text" id="image_address" name="image_address" class="input">

                <input name="act" value="add_activity" style="display:none">
                <input name="key" value="do_add" style="display:none">

            <p class="f_title">
                <input type="button" class="btn_primary" value="确认" onclick="addActivity();">
        </form>
        {/if}

