{include file='admin/library/page_header.htm'}

<div class="col_main">
    <div class="main_hd">
        <div class="title_tab">
            <ul class="tab_navs">
                <li {if $act==default||new_account}class="selected"{/if}><a href="/admin/activity.php">活动列表</a></li>
            </ul>
        </div>
    </div>

    <div class="main_content">

        {if $act==default}
        <script type="text/javascript">
            function deleteAccount(id) {
                if (confirm("确定要删除这个账号吗？")) {
                    $.post("/admin/account.php", {
                                act: 'delete_account', account_id: id
                            },
                            function (data) {

                                var data = json_decode(data);
                                if (data.error == 0) {
                                    alertMsg(data.data);
                                    setTimeout("window.location.reload();", 1000);
                                }
                                if (data.error == 1) {
                                    /* 弹出错误提示 */
                                    alertMsg(data.data);
                                }
                            });
                }
            }
        </script>
        <form action="/admin/activity.php" method="get" enctype="multipart/form-data" name="search">
            <input type="hidden" name="page" value="1">
        </form>
        <table class="info_list" cellspacing="1" width="100%">
            <tr>
                <th width="240px">活动名称</th>
                <th width="100px">送礼方式</th>
                <th width="240px">送出金额类型</th>
                <th width="240px">送出金额</th>
                <th width="240px">活动url</th>
                <th width="120px">操作</th>
            </tr>
            {foreach from=$list.res item=l}
            <td>{$l.name}</td>
            <td>{if $l.gift_type==0}话费{else}其他{/if}</td>
            <td>{if $l.money_type==0}固定金额{else}随机金额{/if}</td>
            {if $l.money_type==0}
            <td>{$l.money_num}</td>
            {else}
            <td>{$l.money_min}-{$l.money_max}</td>
            {/if}
            <td>{$l.activi_url}</td>
            <!--<td>-->
            <!--<a href="javascript:void(0)" onclick="javascript:deleteAccount({$l.account_id});">-->
            <!--<img src="/templates/images/icon/icon_trash.gif" title="删除">-->
            <!--</a>-->
            <!--</td>-->
            <td align="center">
                <div id="edit_view_{$r.info_id}">
                    <a href="/admin/info.php?key=operate&info_id={$r.info_id}">
                        <img src="/templates/images/icon/icon_edit.gif" title="编辑">
                    </a>&ensp;
                    <a href="javascript:void(0)" onclick="javascript:deleteInfo({$r.info_id});">
                        <img src="/templates/images/icon/icon_trash.gif" title="删除">
                    </a>
                </div>
            </td>
            </tr>
            {/foreach}
        </table>
        <div class="clear height10"></div>
        <div class="float_r">
            {include file="admin/library/page.htm"}
        </div>
        <a href="/admin/activity.php?act=add_activity"><input type="button" class="btn_primary" value="新建活动"></a>
        {/if}
        {if $act==add_activity}
        <form action="/admin/activity.php" method="post" enctype="multipart/form-data" id="add_activity" class="form">
            <p class="f_title">活动名称：<span class="color999 fontSize12">（活动名不多于30个字符）</span>

            <p class="f_content"><input type="text" name="name" class="input">

            <p class="f_title">活动描述：

            <p class="f_content">
                <textarea type="text" name="descrpition" class="input"></textarea>

            <p class="f_title">送礼方式：

            <p class="f_content">
                <select name="type" id="gift_type">
                    <option value="1">话费</option>
                </select>
            <p class="f_title">送出金额类型：

            <p class="f_content">
                <select name="type" id="money_type">
                    <option value="1">固定金额</option>
                    <option value="2">随机金额</option>
                </select>
            <p class="f_title">送出金额数：

            <p class="f_content"><input type="text" name="money_num" class="input">

            <p class="f_title">图片地址：

            <p class="f_content"><input type="text" name="image_address" class="input">

                <input name="act" value="add_activity" style="display:none">
                <input name="key" value="do_add" style="display:none">

            <p class="f_title">
                <input type="button" class="btn_primary" value="确认" onclick="javascript:AjaxSubmit('add_activity');">
        </form>
        {/if}