{include file='admin/library/page_header.htm'}

	<div class="col_main">
	  <div class="main_hd">
	    <div class="title_tab">
		  <ul class="tab_navs">
		    <li {if $act==list}class="selected"{/if}><a href="/admin/community.php">小区列表</a></li>
          <li {if $act==new_community}class="selected"{/if}><a href="/admin/community.php?act=new_community">新增小区</a></li>
          <li {if $act==community_apply}class="selected"{/if}><a href="/admin/community.php?act=community_apply">小区申请审核</a></li>
		  </ul>
		</div>
	  </div>

<div class="main_content">	 

{if $act==list}
<form action="/admin/community.php" method="get" enctype="multipart/form-data" name="search">
 <input type="hidden" name="page" value="1">
</form>
 <table class="info_list" cellspacing="1" width="100%">
 <tr>
  <th width="120px">小区名称</th>
  <th width="100px">所在省</th>
  <th width="100px">所在市</th>
  <th width="100px">所在区</th>
  <th>操作</th>
 </tr>
 {foreach from=$list.res item=l}
  <tr>
   <td>{$l.community_name}</td>
   <td>{$l.province}</td>
   <td>{$l.city}</td>
   <td>{$l.district}</td>
   <td><a href="/admin/community.php?act=switch&cid={$l.community_id}" target="_blank">调用权限</a></td>
  </tr>
 {/foreach}
 </table>
<div class="clear height10"></div>
<div class="float_r">
{include file="admin/library/page.htm"}
</div>
{/if}
{if $act==new_community}
<script type="text/javascript">
function getProvince()
{   
   var province =  parseInt({$province});
   $.post("/ajax.php", {
   act:'setRegion',region_type:1},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>省/直辖市</option>";
	   for(var i=0; i<data.length;i++)
	   {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(province==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	   }
	   $("#province").html(html);
   });
}
   
function setCity(province)
{
   var city =  parseInt({$city});
   $.post("/ajax.php", {
   act:'setRegion',region_type:2, parent_id:province},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>城市</option>";
	   if(province>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(city==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#city").html(html);
	   }
   });  
}

function setDistrict(city)
{
   var district =  parseInt({$district});
   $.post("/ajax.php", {
   act:'setRegion',region_type:3, parent_id:city},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>区县</option>";
	   if(city>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(district==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#district").html(html);
	   }
   }); 
}

function setSubdistrict(district)
{
   var subdistrict =  parseInt({$subdistrict});
   $.post("/ajax.php", {
   act:'setRegion',region_type:4, parent_id:district},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>街道办</option>";
	   if(district>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(subdistrict==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#subdistrict").html(html);
	   }
   }); 
}

function setNeighborhood(subdistrict)
{
   var neighborhood =  parseInt({$neighborhood});
   $.post("/ajax.php", {
   act:'setRegion',region_type:5, parent_id:subdistrict},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>社区</option>";
	   if(subdistrict>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(neighborhood==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#neighborhood").html(html);
	   }
   }); 
}

getProvince();
setCity({$province});
setDistrict({$city});
setSubdistrict({$district});
setNeighborhood({$substrict});
</script>
<script type="text/javascript" src="/includes/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="/includes/kindeditor/lang/zh_CN.js"></script> 
 <form action="/admin/community.php?act=new_community&key=do" method="post" enctype="multipart/form-data" id="new_community" class="form">
 	  <p class="f_title">小区名称：<span class="color999 fontSize12">（小区名称不多于30个字符）</span> 
     <p class="f_content"><input type="text" name="community_name" class="input">
 	  <p class="f_title">物业名称：<span class="color999 fontSize12">（物业名称不多于30个字符）</span> 
     <p class="f_content"><input type="text" name="property_name" class="input">
     <p class="f_title">
     <select id="province" name="province" onchange="javascript:setCity(this.value);">
     <option value="0">省/直辖市</option>
     </select>
     <select id="city" name="city" onchange="javascript:setDistrict(this.value);">
	  <option value="0">城市</option>
     </select>
     <select id="district" name="district" onchange="javascript:setSubdistrict(this.value)">
     <option value="0">区县</option>
     </select>
     <select id="subdistrict" name="subdistrict" onchange="javascript:setNeighborhood(this.value)">
	  <option value="0">街道办</option>
     </select>
     <select id="neighborhood" name="neighborhood">
	  <option value="0">社区</option>
     </select>
     <p class="f_title">详细地址：<span class="color999 fontSize12">（小区详细地址）</span>
     <p class="f_content"><input type="text" name="address" class="input">
     <p class="f_title">投诉建议电话：<span class="color999 fontSize12">（业主可见，可为座机号或手机号，支持一键拔打）</span> 
     <p class="f_content"><input type="text" name="advice_phone" class="input">
     <p class="f_title">报修申请电话：<span class="color999 fontSize12">（业主可见，可为座机号或手机号，支持一键拔打）</span> 
     <p class="f_content"><input type="text" name="repair_phone" class="input">
     <input name="apply_id" value="{$apply_id}" style="display:none">
     <p class="f_title"><input type="button" class="btn_primary" value="确认新增" onclick="javascript:AjaxSubmit('new_community');">
 </form>
{/if}
{if $act==community_apply}
<form action="/admin/community.php" method="get" enctype="multipart/form-data" name="search">
 <input type="hidden" name="act" value="community_apply">
 <input type="hidden" name="page" value="1">
</form>
 <table class="info_list" cellspacing="1" width="100%">
 <tr>
  <th width="18%">小区名称</th>
  <th width="35%">详细地址</th>
  <th width="8%">申请人姓名</th>
  <th width="10%">联系电话</th>
  <th width="12%">申请时间</th>
  <th width="7%">状态</th>
  <th width="10%">操作</th>
 </tr>
 {foreach from=$applylist.res item=l}
  <tr align="center">
   <td>{$l.community_name}</td>
   <td>{$l.address}</td>
   <td>{$l.contact_user}</td>
   <td>{$l.mobile}</td>
   <td>{$l.apply_time}</td>
   <td>{if $l.status==0}<a href="/admin/community.php?act=new_community&apply_id={$l.apply_id}">待审核</a>{else if $l.status==1}已通过{/if}</td>
   <td>
  	<div id="edit_view_{$h.cat_id}">
  		{if $l.status==0}
		<a href="/admin/community.php?act=new_community&apply_id={$l.apply_id}">
		<img src="/templates/images/icon/icon_edit.gif" title="通过">
		</a>&ensp;
		{/if}
		<a href="/admin/community.php?act=delete_apply&apply_id={$l.apply_id}">
		<img src="/templates/images/icon/icon_trash.gif" title="删除">
		</a>
	</div>
   </td>
  </tr>
 {/foreach}
 </table>
<div class="clear height10"></div>
<div class="float_r">
{include file="admin/library/page.htm"}
</div>
{/if}
</div>

</div>
