{include file='admin/library/page_header.htm'}
	<div class="col_main">
	  <div class="main_hd">
	    <div class="title_tab">
		  <ul class="tab_navs">
		    <li {if $act==default}class="selected"{/if}><a href="/admin/message.php">小区发送</a></li>
          <li {if $act==excel}class="selected"{/if}><a href="/admin/message.php?act=excel">表格发送</a></li>
		  </ul>
		</div>
	  </div>

<div class="main_content">
{if $act==default}
<form action="/admin/message.php?act=community_send" method="post" enctype="multipart/form-data" id="community" class="form">
	<p class="f_content">
	<select name="community">
	<option value="0">所有小区</option>
   {foreach from=$community item=c}
   <option value="{$c.community_id}">{$c.community_name}</option>
   {/foreach}
   </select>
   <p class="f_content">
	<textarea name="content" style="width:360px;height:120px"></textarea>
   <p class="f_content">
   <input type="button" value="发 送" class="btn_primary" onclick="javascript:AjaxSubmit('community');">
</form>
{/if}
{if $act==excel}
<form action="/admin/message.php?act=excel_send" method="post" enctype="multipart/form-data" id="excel" class="form">
	<p class="f_content">
	<input type="file" name="phone">
   <p class="f_content">
	<textarea name="content" style="width:360px;height:120px"></textarea>
   <p class="f_content">
   <input type="button" value="发 送" class="btn_primary" onclick="javascript:AjaxSubmit('excel');">
</form>
{/if}

