{include file='admin/library/page_header.htm'}
<div class="col_main">
    <div class="main_hd">
        <div class="title_tab">
            <ul class="tab_navs">
                <li {if $act==default}class="selected"{/if}><a href="/admin/rechargerecord.php">充值记录列表</a></li>
            </ul>
        </div>
    </div>

    <div class="main_content">

        {if $act==default}
        <form action="/admin/rechargerecord.php" method="get" enctype="multipart/form-data" name="search">

            <input type="hidden" name="page" value="1">

            <p class="f_content">
            <table>
                <td align="right">活动：</td>
                <td style="padding-right: 20px">
                    <select name="activity" id="activity">
                        <option value="0">全部</option>
                        {foreach from=$activitylist item=l}
                        {if $l.key_id==$activity}
                        <option value="{$l.key_id}" selected>{$l.key_id}{$l.name}</option>
                        {else}
                        <option value="{$l.key_id}">{$l.key_id}{$l.name}</option>
                        {/if}
                        {/foreach}
                    </select>
                </td>
                <td align="right">状态：</td>
                <td style="padding-right: 20px">
                    <select name="status" id="status">
                        <option value="-1" {if $status=='-1'}selected{/if}}>全部</option>
                        <option value="0" {if $status=='0'}selected{/if}>充值中</option>
                        <option value="1" {if $status=='1'}selected{/if}>成功</option>
                        <option value="2" {if $status=='2'}selected{/if}>失败</option>
                    </select>
                </td>
                <td align="right">验证码：</td>
                <td style="padding-right: 20px"><input type="text" class="searchinput" name="valifycode" id="valifycode"
                                                       value="{$valifycode}"></td>
                <td align="right">手机号：</td>
                <td style="padding-right: 20px"><input type="text" class="searchinput" name="tradeaccount"
                                                       id="tradeaccount"
                                                       value="{$tradeaccount}"></td>
                <td><input type="submit" class="btn_primary" value="查询"></td>
                <td><input type="button" class="btn_primary" id="export" name="export" value="导出excel"
                           onclick="exportRechargeRecord()"></td>
            </table>
            </p>
        </form>
        <div class="clear height20"></div>
        <table class="info_list" cellspacing="1" width="100%">
            <tr>
                <th width="10%">订单号</th>
                <th width="10%">活动名称</th>
                <th width="10%">验证码</th>
                <th width="10%">充值金额</th>
                <th width="10%">交易平台</th>
                <th width="10%">手机号</th>
                <th width="10%">交易状态</th>
                <th width="20%">返回消息</th>
                <th width="10%">交易时间</th>
            </tr>
            {foreach from=$list.res item=l}
            <tr>
                <td>{$l.orderid}</td>
                <td>{$l.activity_name}</td>
                <td>{$l.valifycode}</td>
                <td>{$l.money_num}</td>
                <td>{$l.tradeplat}</td>
                <td>{$l.tradeaccount}</td>
                <td>{if $l.tradestatus==0}充值中{else if $l.tradestatus==1}成功{else}失败{/if}</td>
                <td>{$l.message}</td>
                <td>{$l.add_time}</td>
            </tr>
            {/foreach}
        </table>
        <div class="clear height10"></div>
        <div class="float_r">
            {include file="admin/library/page.htm"}
        </div>
        {/if}