{include file='admin/library/page_header.htm'}

	<div class="col_main">
	  <div class="main_hd">
	    <div class="title_tab">
		  <ul class="tab_navs">
		    <li class="selected"><a href="/admin/region.php">地区管理</a></li>
		  </ul>
		</div>
	  </div>

<div class="main_content">	  
<script type="text/javascript">
function getProvince()
{   
   var province =  parseInt({$province});
   $.post("/ajax.php", {
   act:'setRegion',region_type:1},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>省/直辖市</option>";
	   for(var i=0; i<data.length;i++)
	   {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(province==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	   }
	   $("#province").html(html);
   });
}
   
function setCity(province)
{
   var city =  parseInt({$city});
   $.post("/ajax.php", {
   act:'setRegion',region_type:2, parent_id:province},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>城市</option>";
	   if(province>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(city==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#city").html(html);
	   }
   });  
}

function setDistrict(city)
{
   var district =  parseInt({$district});
   $.post("/ajax.php", {
   act:'setRegion',region_type:3, parent_id:city},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>区县</option>";
	   if(city>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(district==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#district").html(html);
	   }
   }); 
}

function setSubdistrict(district)
{
   var subdistrict =  parseInt({$subdistrict});
   $.post("/ajax.php", {
   act:'setRegion',region_type:4, parent_id:district},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>街道办</option>";
	   if(district>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(subdistrict==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#subdistrict").html(html);
	   }
   }); 
}

function setNeighborhood(subdistrict)
{
   var neighborhood =  parseInt({$neighborhood});
   $.post("/ajax.php", {
   act:'setRegion',region_type:5, parent_id:subdistrict},
   function(data)
   {
	   var data = json_decode(data);
	   var html = "<option>社区</option>";
	   if(subdistrict>0)
	   {
	    for(var i=0; i<data.length;i++)
	    {
	      html += "<option value='"+data[i].region_id+"' ";
		  if(neighborhood==data[i].region_id)   //当前已选
		  {
		     html += "selected ";
		  }
		  html += ">"+data[i].region_name+"</option>";
	    }
		 $("#neighborhood").html(html);
	   }
   }); 
}

getProvince();
setCity({$province});
setDistrict({$city});
setSubdistrict({$district});
setNeighborhood({$substrict});
</script>
<script type="text/javascript" src="/includes/kindeditor/kindeditor-min.js"></script>
<script type="text/javascript" src="/includes/kindeditor/lang/zh_CN.js"></script> 
<form action="/admin/region.php?act=act_region" method="post" enctype="multipart/form-data" id="region" class="form">
<select id="province" name="province" onchange="javascript:setCity(this.value);">
<option value="0">省/直辖市</option>
{foreach from=$selectlist.province_list item=p}
{if $p.region_id==$province}
<option value="{$p.region_id}" selected>{$p.region_name}</option>
{else}
<option value="{$p.region_id}">{$p.region_name}</option>
{/if}
{/foreach}
</select>
<select id="city" name="city" onchange="javascript:setDistrict(this.value);">
<option value="0">城市</option>
{foreach from=$slelectlist.city_list item=c}
{if $c.region_id==$city}
<option value="{$c.region_id}" selected>{$c.region_name}</option>
{else}
<option value="{$c.region_id}">{$c.region_name}</option>
{/if}
{/foreach}
</select>
<select id="district" name="district" onchange="javascript:setSubdistrict(this.value)">
<option value="0">区县</option>
{foreach from=$selectlist.district_list item=d}
{if $d.region_id==$district}
<option value="{$d.region_id}">{$d.region_name}</option>
{else}
<option value="{$d.region_id}" selected>{$d.region_name}</option>
{/if}
{/foreach}
</select>
<select id="subdistrict" name="subdistrict" onchange="javascript:setNeighborhood(this.value)">
<option value="0">街道办</option>
{foreach from=$selectlist.subdistrict_list item=s}
{if $s.region_id==$subdistrict}
<option value="{$s.region_id}" selected>{$s.region_name}</option>
{else}
<option value="{$s.region_id}">{$s.region_name}</option>
{/if}
{/foreach}
</select>
<select id="neighborhood" name="neighborhood">
<option value="0">社区</option>
{foreach from=$selectlist.neighborhood_list item=n}
{if $n.region_id==$neighborhood}
<option value="{$n.region_id}" selected>{$n.region_name}</option>
{else}
<option value="{$n.region_id}">{$n.region_name}</option>
{/if}
{/foreach}
</select>
<input type="submit" class="btn_primary" id='regionsubmit' style="float:right" value="确认">
</form>
<script type="text/javascript">
    function UpdateRegion(id)
    {
    	this.edit_view = document.getElementById("edit_view_"+id);
		this.edit_act = document.getElementById("edit_act_"+id);
		this.region_text = document.getElementById("region_text_"+id);
		this.region_input = document.getElementById("region_input_"+id);
		/*用于post的值*/
		this.region = document.getElementById("region_"+id);
		
		/* 显示编辑框、按钮 */
		this.viewUpdateRegion = function()
		{
			this.edit_view.style.display = "none";
			this.edit_act.style.display = "block";
			this.region_text.style.display = "none";
			this.region_input.style.display = "block";
		}
		/* 取消编辑 */
		this.cancelUpdateRegion = function()
		{
			this.edit_view.style.display = "block";
			this.edit_act.style.display = "none";
			this.region_text.style.display = "block";
			this.region_input.style.display = "none";
		}
		/* 提交编辑 */
		this.doUpdateRegion = function()
		{
			$.post("/admin/region.php",{
			act:'update_region',region_id:id,region_name:this.region.value,province:{$province},city:{$city},district:{$district},
			subdistrict:{$subdistrict},neighborhood:{$neighborhood}},
			function(data)
			{
				var data = json_decode(data);
				if(data.error==0)
				{
					alertMsg(data.data);
					setTimeout("$('#region').submit();",1000);
				}
					if(data.error==1)
					{
					/* 弹出错误提示 */
					alertMsg(data.data);
					}
			});
		}
		/* 删除分类 */
		this.deleteRegion = function()
		{
			$.post("/admin/region.php",{
			act:'delete_region',region_id:id,province:{$province},city:{$city},district:{$district},
			subdistrict:{$subdistrict},neighborhood:{$neighborhood}},
			function(data)
			{
				var data = json_decode(data);
				if(data.error==0)
				{
					alertMsg(data.data);
					setTimeout("$('#region').submit();",1000);
				}
					if(data.error==1)
					{
					/* 弹出错误提示 */
					alertMsg(data.data);
					}
			});
		}
	}
	function viewUpdateRegion(id)
	{
		var updateregion = new UpdateRegion(id);
		updateregion.viewUpdateRegion();
	}
	function cancelUpdateRegion(id)
	{
		var updateregion = new UpdateRegion(id);
		updateregion.cancelUpdateRegion();
	}
	function doUpdateRegion(id)
	{
		var updateregion = new UpdateRegion(id);
		updateregion.doUpdateRegion();
	}
	function deleteRegion(id)
	{
		var updateregion = new UpdateRegion(id);
		updateregion.deleteRegion();
	}
</script>
 <div class="clear height5"></div>
 <table class="info_list" cellspacing="1">
 {if $community_list}
 	{foreach from=$community_list item=c}
   <tr>
    <td>{$c.community_name}</td>
   </tr>
   {/foreach}
   
 {else} 
  {foreach from=$regionlist item=r}
   <tr>
    <td width="80%" align="center">
    	<span id="region_text_{$r.region_id}">{$r.region_name}</span>
    	<span id="region_input_{$r.region_id}" style="display:none">
	 	<input type="text" value="{$r.region_name}" class="editinput" id="region_{$r.region_id}" style="width:90%"">
	 	</span>
    </td>
	 <td width="20%" align="center">
    	   <div id="edit_view_{$r.region_id}">
        	<a href="javascript:void(0);" onclick="javascript:viewUpdateRegion({$r.region_id});">
	    		<img src="/templates/images/icon/icon_edit.gif" title="编辑">
	   		</a>&ensp;
	  		<a href="javascript:void(0)" onclick="javascript:deleteRegion({$r.region_id});">
	    		<img src="/templates/images/icon/icon_trash.gif" title="删除">
	   		</a>
	   	</div>
         <div id="edit_act_{$r.region_id}" style="display:none">
         	<input type="button" class="searchbutton" onclick="javascript:doUpdateRegion({$r.region_id});" value="确 认">
         	<input type="button" class="searchbutton" onclick="javascript:cancelUpdateRegion({$r.region_id});" value="取 消">
         </div>
    </td>
   </tr>
  {/foreach}
  </table>
	<form action="/admin/region.php?act=new_region" id="new_region" method="post" enctype="multipart/form-data" class="form">
    	<div class="middle" style="margin-top:10px">
  			<input type="button" class="btn_primary" name="new_region" value="新建行政区划" onclick="showui()">
        	<input type="text" id="new_region_name" name="new_region_name" class="input" style="visibility:hidden;align:center;margin-left:5px;margin-right:5px" >
        	<input type="button" class="btn_primary" style="visibility:hidden" id="submit" value="提交" onclick="javascript:new_region_submit()">
         <input type="button" class="btn_primary" style="visibility:hidden" id="cancel" value="取消" onclick="hideui()">
		</div>
	</form>
	<script type="text/javascript">
	function showui()
	{
		
		document.getElementById("new_region_name").style.visibility="visible";
		document.getElementById("submit").style.visibility="visible";
		document.getElementById("cancel").style.visibility="visible";
	}
	function hideui()
	{
		document.getElementById("new_region_name").style.visibility="hidden";
		document.getElementById("submit").style.visibility="hidden";
		document.getElementById("cancel").style.visibility="hidden";
	}
	function new_region_submit()
	{
		$.post("/admin/region.php?act=new_region",{
		region_name:$("#new_region_name").val(),province:{$province},city:{$city},district:{$district},
		subdistrict:{$subdistrict},neighborhood:{$neighborhood}},
		function(data)
		{
			var data = json_decode(data);
			if(data.error==0)
			{
				alertMsg(data.data);
				setTimeout("$('#region').submit();",1000);
			}
				if(data.error==1)
				{
				/* 弹出错误提示 */
				alertMsg(data.data);
				}
		});
	}
</script>
 {/if}