{include file='admin/library/page_header.htm'}
<div class="col_main">
    <div class="main_hd">
        <div class="title_tab">
            <ul class="tab_navs">
                <li {if $act==default}class="selected"{/if}><a href="/admin/valifycode.php">验证码列表</a></li>
                <li {if $act==product}class="selected"{/if}><a href="/admin/valifycode.php?act=product">生成验证码</a></li>
            </ul>
        </div>
    </div>

    <div class="main_content">

        {if $act==default}
        <form action="/admin/valifycode.php" method="get" enctype="multipart/form-data" name="search">

            <input type="hidden" name="page" value="1">

            <p class="f_content">
            <table>
                <td align="right">活动：</td>
                <td style="padding-right: 20px">
                    <select name="activity" id="activity">
                        <option value="0">全部</option>
                        {foreach from=$activitylist item=l}
                        {if $l.key_id==$activity}
                        <option value="{$l.key_id}" selected>{$l.name}</option>
                        {else}
                        <option value="{$l.key_id}">{$l.name}</option>
                        {/if}
                        {/foreach}
                    </select>
                </td>
                <td align="right">验证码：</td>
                <td style="padding-right: 20px"><input type="text" class="searchinput" name="valifycode" id="valifycode"
                                                       value="{$valifycode}"></td>
                <td align="right">使用账号：</td>
                <td style="padding-right: 20px"><input type="text" class="searchinput" name="use_account" id="use_account"
                                                       value="{$use_account}"></td>
                <td><input type="submit" class="btn_primary" value="查询"></td>
                <td><input type="button" class="btn_primary" id="export" name="export" value="导出excel" onclick="exportValifyCode()"></td>
            </table>
            </p>
        </form>
        <div class="clear height20"></div>
        <table class="info_list" cellspacing="1" width="100%">
            <tr>
                <th width="15%">活动ID</th>
                <th width="15%">验证码</th>
                <th width="15%">金额</th>
                <th width="15%">是否使用</th>
                <th width="20%">使用账号</th>
                <th width="20%">操作</th>
            </tr>
            {foreach from=$list.res item=l}
            <td>{$l.activity_id}</td>
            <td>{$l.valifycode}</td>
            <td>{$l.money_num}</td>
            <td>{if $l.is_used==0}未使用{else}已使用{/if}</td>
            <td>{$l.use_account}</td>
            <!--<td>-->
            <!--<a href="javascript:void(0)" onclick="javascript:deleteAccount({$l.account_id});">-->
            <!--<img src="/templates/images/icon/icon_trash.gif" title="删除">-->
            <!--</a>-->
            <!--</td>-->
            <td align="center">
                <div id="edit_view_{$r.info_id}">
                    <a href="javascript:void(0)" onclick="javascript:deleteInfo({$r.info_id});">
                        禁用
                    </a>
                </div>
            </td>
            </tr>
            {/foreach}
        </table>
        <div class="clear height10"></div>
        <div class="float_r">
            {include file="admin/library/page.htm"}
        </div>
        {/if}
        {if $act==product}
        <form action="/admin/valifycode.php" method="post" enctype="multipart/form-data" id="product_valifycode"
              class="form">
            <p class="f_title">活动：

            <p class="f_content">
                <select name="activity">
                    {foreach from=$activitylist item=l}
                    {if $l.key_id==$activity}
                    <option value="{$l.key_id}" selected>{$l.name}</option>
                    {else}
                    <option value="{$l.key_id}">{$l.name}</option>
                    {/if}
                    {/foreach}
                </select>
            <p class="f_title">验证码位数：

            <p class="f_content"><input type="text" name="codedigit" class="input" value="6">

            <p class="f_title">验证码个数：

            <p class="f_content"><input type="text" name="codecount" class="input">

                <input name="act" value="product" style="display:none">
                <input name="key" value="do_add" style="display:none">

            <p class="f_title">
                <input type="button" class="btn_primary" id="product" value="生成"
                       onclick="javascript:productValifyCode('product_valifycode');">
        </form>
        <div id="loading" class="loading" style="display:none">验证码生成中,请等待...</div>
        {/if}