"
<header><h1>验真防伪</h1>    <a class="h-r"
                            href="http://guangdong-tobacco.ycwemedia.com/scan/rule?brand_id=1&barcode=TJ1RM275IV5">活动规则</a>
</header>
<div class="clear1"></div>
<section class="open-scan">    <!-- 拆开奖项 -->
    <div class="open-area">
        <div class="open-area-hint yellow"><p>验真防伪提示：您当前的商品为“正品”。</p></div>
        <div class="open-area-top s-win"><h2 class="title"><i>恭喜您获得</i> <a class="mall"
                                                                           href="http://guangdong-tobacco.ycwemedia.com/">积分商城</a>
        </h2> <!-- 积分，话费领取 -->
            <div class="prize"><p class="p-inte"><i class="big">20</i>积分</p>

                <p class="p-pour-t">您可以使用积分兑换话费及其他礼品。</p></div>
        </div>
        <div class="float-img"><img src="/images/scan/s_4.png" height="128" width="640" alt=""/></div>
    </div>
    <div class="open-scan-bottom">
        <div class="btn-area overdue"><input type="button" value="奖品已被领取"/></div>
        <!-- 微信公众号 -->
        <div class="weixi-area"><p class="wx-title">请关注双喜微信公众号</p>

            <p class="wx-img"><img src="/images/scan/s_5.png" height="210" width="211" alt=""/></p>

            <p><i class="yellow">长按二维码，点击关注</i><br>微信号：shuangxifuwuhao</p>

            <p></p>

            <p>客服热线：400-020-1906</p></div>
    </div>
</section>
<div class="footer"><p>吸烟有害健康</p></div>
<script>clearInterval(scroll_prize);</script>"