{include file='represent/library/page_header.htm'}
<script type="text/javascript">
function deleteCat(id)
{
	$.post("/represent/lifenav.php",{
		act:'deletecat',cat_id:id},
	function(data)
	{
		var data = json_decode(data);
	    if(data.error==0)
		{
			alertMsg(data.data);
			setTimeout("window.location.reload();",1000);
		}
	   	if(data.error==1)
	   	{
	    	/* 弹出错误提示 */
		 	alertMsg(data.data);
	   	}
	});
		
}
</script>
<script type="text/javascript">
function deleteAttr(id)
{
	$.post("/represent/lifenav.php?act=attr&cat_id={$cat_id}",{
		act:'delete_attr',attr_id:id},
	function(data)
	{
		var data = json_decode(data);
	    if(data.error==0)
		{
			alertMsg(data.data);
			setTimeout("window.location.reload();",1000);
		}
	   	if(data.error==1)
	   	{
	    	/* 弹出错误提示 */
		 	alertMsg(data.data);
	   	}
	});
		
}
</script>

	<div class="col_main">
	  <div class="main_hd">
	    <div class="title_tab">
		  <ul class="tab_navs">
		    <li {if $act==lifenav_cat || $act==attr}class="selected"{/if}><a href="/represent/lifenav">生活导航分类</a></li>
			<li {if $act==lifenav}class="selected"{/if}><a href="/represent/lifenav?act=lifenav">生活导航</a></li>
		  </ul>
		</div>
	  </div>

<div class="main_content">	 
{if $act==lifenav_cat}  
 <table class="info_list" cellspacing="1">
  <tr>
   <th>生活导航名称</th>
   <th width="80px">排 序</th>
   <th width="200px">操作</th>
  </tr>
  {foreach from=$cat item=c}
   <tr>
    <td>{$c.cat_name}</td>  
	<td>{$c.sort_order}</td>
    <td></td>
   </tr>
   {foreach from=$c.sub_cat item=sc}
   <tr>
    <td>&ensp;- {$sc.cat_name}</td>  
	<td>{$sc.sort_order}</td>
	<td align="center">
    	<div id="edit_view_{$r.cat_id}">
			<a href="/represent/lifenav.php?act=lifenav&cat_id={$sc.cat_id}">
			    <img src="/templates/images/icon/icon_add.gif" title="添加">
			</a>&ensp;
	   	</div>
    </td>
   </tr>
   {/foreach}
  {/foreach}
  </table>
{/if}

{if $act==attr}
 <table class="info_list" cellspacing="1">
  <tr>
   <th width="160px">{$cat_name} 的属性</th>
   <th width="80px">类 型</th>
   <th>可选值</th>
   <th width="50px">排 序</th>
   <th width="80px">操作</th>
  </tr>
  {foreach from=$attrs item=a}
   <tr>
	<td>{$a.attr_name}</td>
	<td>{$a.type}</td>
	<td>{$a.value}</td>
	<td>{$a.sort_order}</td>
	<td>
	  <a href="javascript:void(0);" onClick="javascript:deleteAttr({$a.attr_id});"}>
	    		<img src="/templates/images/icon/icon_trash.gif" title="删除">
	  </a>
	</td>
   </tr>
  {/foreach}
  
  </table>
  <div class="clear height10"></div>
  <form action="/represent/lifenav.php" method="post" enctype="multipart/form-data" id="lifenav" class="form">
   <p class="f_title">属性名称：
   <p class="f_content"><input type="text" name="attr_name" class="input">
   <p class="f_title">类 型：
   <p class="f_content"><select name="type">
    <option value="input">输入框</option>
	<option value="select">单选</option>
	<option value="checkbox">多选</option>
   </select>
   <p class="f_title">可选值：<span class="color999 fontSize12">（多个值用英文 , 隔开）</span>
   <p class="f_content"><input type="text" name="value" class="input">
   <p class="f_title">排序：
   <p class="f_content"><input type="text" name="sort_order"  class="input" value="50" style="width:50px">
   <p>
    <input type="hidden" name="cat_id" value="{$cat_id}">
	<input type="hidden" name="act" value="add_attr">
	<input type="button" value="提 交" class="btn_primary" onclick="javascript:AjaxSubmit('lifenav');">
  </form>
{/if}
{if $act==lifenav}
{if $cat_id>0}
 <form action="/represent/lifenav.php?act=add_lifenav" method="post" enctype="multipart/form-data" id="lifenav" class="form">
   <p class="f_title">所属分类：
   <p class="f_content"><select name="cat_id"><option value="{$cat_id}">{$cat_name}</option></select>
   {foreach from=$attrs item=a}
   <p class="f_title">{$a.attr_name}：
   <p class="f_content">
    {if $a.type==input}
	 <input type="input" class="input" name="{$a.attr_id}">
	{elseif $a.type==select}
	 <select name="{$a.attr_id}">
	  {foreach from=$a.value item=av}
	   <option value="{$av}">{$av}</option>
	  {/foreach}
	 </select>
	{elseif $a.type==checkbox}
	 {foreach from=$a.value item=av}
	  <label><input type="checkbox" name="{$a.attr_id}[]" value="{$av}"> {$av}</label> &ensp;
	 {/foreach}
	{/if}
   {/foreach}
   <p class="f_title">排 序：<span class="color999 fontSize12">（同类信息中，排序越小越靠前）</span>
   <p class="f_content"><input type="text" name="sort_order"  class="input" value="50" style="width:50px">
   <p>
	<input type="button" value="提 交" class="btn_primary" onclick="javascript:AjaxSubmit('lifenav');">
  </form>
{else}
	<div class="content">
    <form action="/represent/lifenav.php?act=lifenav" method="get" enctype="multipart/form-data" name="search">
 	<input type="hidden" name="page" value="1">
    <input type="hidden" name="act" value="lifenav">
	</form>
	<table class="info_list" cellspacing="1">
	<tr>
	<th width="80px">导航分类</th>
	<th width="120px">所属小区</th>
	<th>导航细节</th>
    </tr>
    {foreach from=$lifenav item=l}
    <tr>
    	<td width="80px">{$l.cat_name}</td>
        <td width="120tpx">{$l.community_name}</td>
        <td>{foreach $l.content as $k=>$v}{$k}:{$v}</br>{/foreach}</td>
	</tr>
    {/foreach}
    </table>
    <div class="clear_height:10"><div>
      <div class="float_r">
   {include file="property/library/page.htm"}	
   	  </div>
	</div>
 	

{/if}
{/if}
</div>

</div>
