<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalabel=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>巴乡春酒业</title>
    <script type="text/javascript" src="/templates/js/redpacket/zepto.js"></script>
    <script type="text/javascript" src="/templates/js/redpacket/common.js"></script>
    <script type="text/javascript" src="/templates/js/redpacket/utils.js"></script>
    <script type="text/javascript" src="/templates/js/redpacket/countdown.js"></script>
    <script type="text/javascript" src="/templates/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/templates/css/redpacket.css"/>
</head>
<body id="body">
<header>
    <h1 id="j_time">抽取红包</h1>
    <a class="h-r" href="http://guangdong-tobacco.ycwemedia.com/scan/rule?brand_id=1&barcode=TJ1RM275IV5">活动规则</a>
</header>
<section id="ad_wrap">
    <div class="ad_pic">
        <img src="/images/redpacket/s_01.jpg" height="352" width="640" alt=""/>
    </div>
</section>
<section class="lottery-wrap">
    <!--<div class="winners jc_scroll">-->
    <!--<ul class="winners-ul">-->
    <!--<li>恭喜<i class="red">尾号2755</i>的用户抽中<i class="red">5元话费</i></li>-->
    <!--<li>恭喜<i class="red">尾号4421</i>的用户抽中<i class="red">5元话费</i></li>-->
    <!--<li>恭喜<i class="red">尾号2824</i>的用户抽中<i class="red">5元话费</i></li>-->
    <!--<li>恭喜<i class="red">尾号9898</i>的用户抽中<i class="red">10元话费</i></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!-- 扫描结果 -->
    <div class="lottery-box">
        <!-- 扫描为正品 -->
        <div class="win-hint">
            <!-- 需输入验证码 -->
            <div class="hint-text">
                <div class="p yellow" style="display: none;">提示：扫一扫二维码，输入验证即可抽大礼喔！</div>
                <img class="win-img" title="" src="/images/redpacket/gongfang-1.jpg">
                <input class="code-input" type="text" id="captcha" maxlength="6" placeholder="请输入包装内侧的6位验证码"/>
            </div>
            <!--输入验证拆红包 -->
            <ul>
                <li>
                    <div class="chance p_chance">
                        <label for="checkbox" class="law_x "><input id="j_law" type="checkbox" class="imitate-checkbox"
                                                                    checked="checked" value="1"><span
                                class="white lawp_chance">我已阅读并同意<a href="/law.html"
                                                                    style="color: #FFF">《法律责任声明》</a></span></label>
                    </div>
                </li>
                <li>
                    <input id="activity_id" value="{$activity_id}" style="display: none">
                    <button class="btn btn-orange" id="j_lottery">立即拆红包</button>
                    <p class="more yellow">
                        注：活动期间凡购买双喜（经典工坊）、双喜（喜百年）、双喜（百年经典）、双喜（和喜）香烟可轻松获取百元话费，还有小米手机大礼天天放送，机会多多，永不落空。</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 客服热线 -->
    <div class="lottery-tip">客服热线：400-020-1906<br>更多活动与奖品请关注双喜微信公众号</div>
    <!-- <div style="height:50px;"></div> -->
</section>
<!--<div class="footer">-->
<!--<p>吸烟有害健康</p>-->
<!--</div>-->
<script type="text/javascript">
    var prize_name = ''; //奖品名称
    var get_name = ''; //领取名称

    var scroll_prize;
    $(function () {
        scroll_prize = setInterval('auto_scroll(".jc_scroll")', 2000);
        //重拆红包
        $('#reset').click(function () {
            $('.jc_captcha_error').hide();
            $('.jc_captcha_init').show();
            $('.jc_captcha').show();
        });

        //拆红包
        $('#j_lottery').click(function () {
            var captcha = '';
            captcha = $('#captcha').val();
            if (captcha.length == 0) {
                common.hint('请填写校验码！');
                return false;
            }
            if (captcha.length != 6) {
                common.hint('请填写6位校验码！');
                return false;
            }
            if (!$('#j_law').is(':checked')) {
                common.hint('请勾选“法律责任声明”！');
                return false;
            }
            var d = new Date();
            var activity_id = $('#activity_id').val();
            $.post("/redpacket.php",
                    {
                        act: "draw", code: captcha, activity_id: activity_id
                    },
                    function (data) {
                        var data = json_decode(data);
                        if (data.error == 0) {
                            common.hint(data.data);
                        }
                        if (data.error == 1) {
                            /* 弹出错误提示 */
                            common.hint(data.data);
                        }
                    });
        });
    });
</script>

</body>
</html>